.container {
    max-width: 56rem;
    padding: 0 1rem;
    margin: 1rem auto 1rem;
    color: #FEDC3D;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
    text-align: center;    
}

.backToHome a {
    color: #FEDC3D;
    font-weight: bold;    
}